{{d-editor
  tabindex="1"
  value=body
  placeholder=bodyPlaceholder
  showUploadModal="showUploadModal"
  validation=validation
  showLink=currentUser.can_post_link
  composerEvents=true
  extraButtons="extraButtons"
  markdownOptions=markdownOptions
  previewUpdated="previewUpdated"}}

<div class="editor-gutter">
  {{#if uploading}}
    <span class="uploading">
      {{d-icon 'upload'}}
      {{uploadProgress}}%
    </span>
  {{/if}}
  <span class="body-length {{bodyLengthClass}}">
    {{bodyLength}}
  </span>
</div>

<div class="editor-controls">
  <a class='show-preview' {{action 'togglePreview'}}>
    {{!-- for some reason using d-icon here causes clicks on this element to be registered outside the .inline-composer container --}}
    <i class="fa fa-{{previewIcon}}"></i>
    {{#unless site.mobileView}}
      <span>{{i18n previewKey}}</span>
    {{/unless}}
  </a>
  <a class='show-composer' {{action 'openComposer'}}>
    <i class="fa fa-expand"></i>
    {{#unless site.mobileView}}
      <span>{{i18n 'inline_composer.full'}}</span>
    {{/unless}}
  </a>
</div>
