{{d-editor
  tabindex="1"
  value=body
  placeholder=bodyPlaceholder
  showUploadModal="showUploadModal"
  validation=validation
  showLink=currentUser.can_post_link
  composerEvents=true
  extraButtons="extraButtons"
  markdownOptions=markdownOptions
  previewUpdated="previewUpdated"}}

<div class="editor-gutter">
  {{#if uploading}}
    <span class="uploading">
      {{d-icon 'upload'}}
      {{uploadProgress}}%
    </span>
  {{/if}}
  <span class="{{bodyLengthClass}}">
    {{#if bodyValid}}
      {{d-icon 'check'}}
    {{else}}
      {{bodyLength}}
    {{/if}}
  </span>
</div>

<div class="editor-controls">
  <a class='show-preview' {{action 'togglePreview'}}>
    <i class="fa fa-{{previewIcon}}"></i>
  </a>
  <a class='show-composer' {{action 'openComposer'}}>
    <i class="fa fa-expand"></i>
  </a>
</div>
