<div class="inline-composer-title-wrapper">
  {{avatar currentUser imageSize="small"}}

  {{input value=rawTitle
          class="input-xxlarge"
          placeholder=placeholder
          disabled=inputDisabled}}

  {{#if showRightInput}}
    <div class="right-of-input {{titleLengthClass}}">
      {{#if loading}}
        {{loading-spinner size="small"}}
      {{else}}
        {{#if showTitleIcon}}
          {{d-button action='toggleResults' icon=titleIcon class=titleIcon}}
        {{else}}
          {{#if showLength}}
            <span>{{titleLength}}</span>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>

{{#if showFeaturedLink}}
  <div class='featured-link'>
    {{d-icon 'external-link'}}
    <span class="link">
      <a href="{{featuredLink}}" target="_blank" class="p-link">
        {{featuredLink}}
      </a>
    </span>
    <a {{action 'removeFeaturedLink'}} class="remove-featured-link">
      {{d-icon 'times'}}
    </a>
  </div>
{{/if}}

{{similar-titles title=title
                 categoryId=category.id
                 afterTitleSearch="afterTitleSearch"
                 includeGutter=true
                 showResults=showResults
                 searching="searching"
                 searchDisabled=searchDisabled}}
