{{#if showInput}}
  <div class="title-fields">
    {{avatar currentUser imageSize="small"}}
    {{input value=rawTitle class="input-xxlarge" placeholder=placeholder disabled=inputDisabled}}
    {{#if showRightInput}}
      <div class="right-of-input {{titleLengthClass}}">
        {{#if searching}}
          {{loading-spinner size="small"}}
        {{else}}
          {{#if showLength}}
            {{titleLength}}
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}
{{#if showContent}}
  {{#if hasTopTip}}
    <span class='title-tip'>
      {{{i18n topTip min=siteSettings.min_topic_title_length}}}
    </span>
  {{/if}}
  {{#if showComponent}}
    {{component component title=title
                          category=category
                          ready="ready"
                          updateTip="updateTip"
                          isTitleComposer=true
                          addComposerProperty="addComposerProperty"
                          setNextTarget="setNextTarget"
                          forceNext="forceNext"}}
  {{/if}}
  {{#if titleValid}}
    {{similar-titles title=title
                     categoryId=category.id
                     afterTitleSearch="afterTitleSearch"
                     showResults=showResults}}
  {{/if}}
  <div class="gutter">
    {{#if isConditionalStep}}
      {{d-button label='composer.back' action='back' class='btn btn-primary back' disabled=backDisabled}}
    {{/if}}
    {{#if hasBottomTip}}
      <span class='title-tip'>
        {{{i18n bottomTip min=siteSettings.min_topic_title_length
                          categoryName=category.name
                          modUrl=userPlace.moderator_election_url
                          countryActiveMin=siteSettings.place_country_active_min}}}
      </span>
    {{/if}}
    {{#if showNext}}
      {{d-button label='composer.next' action='next' class='btn btn-primary next' disabled=nextDisabled}}
    {{/if}}
  </div>
{{/if}}
